.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.link:hover,
.link:focus {
  color: #f3962c;
}
.btn {
  font-size: 20px;
  margin-left: 5px;
  min-width: 40px;
  padding: 10px;
  color: white;
  background-color: #f3962c;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
