.nav {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px black solid;
}
.link {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
  color: black;
}
.activeLink {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
  color: #f18509;
}
